.buttonspacing {
    padding: 10px;
    margin: 10px;
}

.background {
    /* background: #070b34;
    background: -webkit-linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  */
}