/* .App {
  text-align: center;
} */

h1 {
  font-size: 48px !important;
}

body {
  background-color: #f9fbfd;
}

.card {
  margin-bottom: 1.5rem;
  border-color: #edf2f9;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}

.font30 {
  font-size: 30px;
  font-weight: 700;
}

.circleBackground {
  fill: none !important;
  stroke: #fff1f1;
}

.circleProgress {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circleText {
  font-size: 12px;
  font-weight: bold;
}

.cDAI {
  font-weight: bold;
  font-size: 24px;
  color: #5540bf;
}

.sma20 {
  font-weight: bold;
  font-size: 24px;
  color: #11112f;
}

.minvol {
  font-weight: bold;
  font-size: 24px;
  color: #f14a5c;
}
