h1 {
  font-size: 48px !important;
}
/* Dipesh Stuff */
landingPage {
  width: 80%;
}

.lprow{
  margin: 0px !important;
}

sup{
  font-size: x-small;
  vertical-align: super;
}

.container-fluid{
  max-width: 75%;
}

.landingPageFirstSection {
  background-image: url("../src/assets/background.png");
  background-repeat: no-repeat;
  /* background-size: 100% 25%; */
  background-size:contain;
  /* background-position:center; */
}

.footerStyle {
  background-color: white;
}

/* Dipesh Stuff Ends over here */

.card {
  margin-bottom: 1.5rem;
  border-color: #edf2f9;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}

.font30 {
  font-size: 30px;
  font-weight: 700;
}

.font20 {
  font-size: 20px;
}

.font16 {
  font-size: 16px;
}

.circleBackground {
  fill: none !important;
  stroke: #f2f2f2;
}

.circleProgress {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circleText {
  font-size: 64px;
  font-weight: bold;
}

.percentageText {
  font-size: 24px;
  font-weight: bold;
}

.circleContainer {
  width: 100px;
}

.cDAI {
  font-weight: bold;
  font-size: 24px;
  color: #5540bf;
}

.sma20 {
  font-weight: bold;
  font-size: 24px;
  color: #11112f;
}

.minvol {
  font-weight: bold;
  font-size: 24px;
  color: #f14a5c;
}

.hedger {
  color: #5540bf;
}

.shortTermBear {
  color: #f03b68;
}

.shortTermSwings {
  color: #262626;
}

.shortTermBull {
  color: #f49124;
}

.longTermBull {
  color: #4bc0c0;
}

.lender {
  color: #1314ad;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 130px;
  background-color: #f9f9f9;
  text-align: center;
}

.buycontainer {
  position: relative !important;
  text-align: center !important;
}

.buycontents {
  display: inline-flex !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.buytext {
  font-size: 22px !important;
  color: #1d144f !important;
}

.buycontents input {
  border-top: none;
  border-right: none;
  border-bottom: 3px solid rgb(43, 177, 96);
  border-left: none;
  border-image: initial;
  color: rgb(43, 177, 96);
  max-width: 65%;
  overflow: hidden;
  text-align: left;
  width: 70px;
  font-size: 48px;
}

.buycontents input:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.beta-btn {
  display: contents;
}
